input {
    width: 100%;
    font-size: 1em;
    border: 1px solid #0000001a;
    padding: 8px 20px;
    outline: none;
    border-radius: 5px;
}

div.upload-area {
    border: 1px dashed;
    min-height: 20vh;
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-items: center;
    cursor: pointer;
}

div.upload-area input[type="file"] {
    display: none;
}

div.upload-area div.information {
    display: flex;
    align-items: center;
}
