header {
    padding: 2vh;
    width: 100%;
    box-shadow: rgba(0,0,0,.11) 0 1px;
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 160px 1fr 1fr;
}

header a div.logo {
    text-decoration: none;
    font-weight: bold;
    color: #5D39ED;
    text-transform: uppercase;
}

div.logo {
    margin-left: 1vw;
    font-size: 20px;
}

div.search {
    width: 80vw;
    max-width: 100em;
}

div.lang {
    text-align: center;
}