<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>NIF-Searcher</title>
</head>
<body>
    {% include "parts/header.njk" %}

    <div class="content">
        {% block content %} {% endblock %}
    </div>

    {% include "parts/footer.njk" %}
</body>
</html>