<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <script src="/scripts/index.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
    {% include "parts/header.njk" %}

    <div class="content">
        {% block content %} {% endblock %}
    </div>

    {% include "parts/footer.njk" %}

    {% include "parts/messages.njk" %}
</body>
</html>