<header>
    <a href="/">
        <div class="logo">
            NIF Searcher
        </div>
    </a>
    
    <div class="search">
        <form action="/search" method="GET">
            <input type="text" name="NIF" placeholder="{{ lang.general.searchBar }}">
        </form>
    </div>

    <div class="lang">
        <a href="/lang?lang=en" class="{% if session.user.lang == 'en' %}selected{% endif %}">en</a>
        <a href="/lang?lang=es" class="{% if session.user.lang == 'es' %}selected{% endif %}">es</a>
        <a href="/lang?lang=pt" class="{% if session.user.lang == 'pt' %}selected{% endif %}">pt</a>
    </div>
</header>